#products {
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-top: 10px;
}
body {
    background-color: aliceblue;
}
.color {
    color: orange;
}

.products {
    max-width: 220px;
    list-style-type: none;
    padding-right: 20px;
    padding-bottom: 40px;
    
}

.title {
    font-size: 15px;
    font-weight: bold;
}

.phone-pic {
    border: 2px solid black;
    
}
.colorswatch {
    width: 25px;
    height: 25px;
    background-color: red;
    border-radius: 5px;
}
#product-details {
    position: fixed;
    background: rgba(0, 0, 0, 0.4);
   
    content: ' ';
    width: 100vw;
    height: 100vh;
    top: 0vh;
    left: 0vw;
}
#product-details-inner {
    background: white;
    position: absolute;
    border-radius: 10px;
    top: 10vh;
    left: 10vw;
    width: 80vw;
    height: 80vh;
    content: ' ';
    display: flex;
    
}
#product-details-inner .close {
    position: absolute;
    top: 10px;
    right: 10px;
}
.image-container img{
    width: 200px;    
    
}

.desc {
    font-size: 15px;
    margin: 20px;
}
.specs {
    margin: 10px;
}